/* Insert your styles here */

html,
body {
    scroll-behavior: smooth;
    /*background-image: linear-gradient(purple, black); */
    background-image: url("../../media/background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    /*font: 400 15px/1.8 "Lato", sans-serif; */
    color: rgb(0, 0, 0);
    /*font-family: "Georgia", cursive, sans-serif;*/
    font-family: 'Forum', cursive;
    font-weight: 600;
}

img {
    padding: 0;
    /*display: block; */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


/* Style all headers */

header {
    height: 100vh;
}

header.heading {
    height: 15vw;
    background-image: url("../../media/header.png");
    position: relative;
    background-size: contain;
    border: 0.35vw black solid;
    border-bottom-width: 0px;
}

header.heading span {
    font-family: 'Cinzel Decorative', cursive;
    color: rgb(228, 206, 145);
    font-size: 4.6vw;
    vertical-align: 5vw;
    /*padding-left: 1.5vw;*/
    text-align: middle;
    padding-left: 1vw;
}

header.heading img.right {
    float: right;
}


/* Add a black background color to the top navigation */

nav#navbar {
    border-style: solid;
    border-color: black;
    border-width: 0.35vw;
    background-color: rgb(195, 0, 255);
    overflow: hidden;
    height: 40px + 4vw;
    /* 2.8vw */
    font-weight: bold;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    font-family: 'Cinzel', serif;
}

nav#navbar ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

nav#navbar a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    font-size: calc(14px + 0.6vw);
}

nav#navbar a:hover {
    background-color: rgb(0, 0, 0, 0.1);
    color: rgb(22, 0, 32);
}

nav#navbar a.active {
    /* These dont seem to affect the buttons... */
    background-color: #4CAF50;
    color: blue;
}


/* MAIN SECTIONS */

header.topic h2 {
    font-size: calc(16px + 1vw);
    /* 1.7vw */
    text-align: center;
    padding-top: 1vw;
    font-weight: black;
    font-family: 'Cinzel', serif;
}

header.topic p {
    font-size: calc(12px + 0.6vw);
    /* 1.2vw*/
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}


/* SECTIONS */

section {
    background-attachment: fixed;
    margin: auto;
    background-size: cover;
    border: 0.35vw black solid;
    border-bottom-width: 0px;
}

section header {
    display: table-cell;
    width: 100%;
    height: 100%;
    /* extra bottom space */
}

section p.title,
section span.title {
    font-family: 'Cinzel', serif;
}

section#about_us {
    text-align: center;
    background-image: url("../../media/lobby.png");
    line-height: calc(13px + 0.8vw);
    border-top-width: 0px;
}

section#about_us header {
    background: hsla(330, 95%, 59%, 0.85);
}

section div {
    padding: 2vw;
    display: inline-block;
    vertical-align: top;
    border: 0.35vw black solid;
    max-width: 100%;
    border-radius: calc(10px + 1vw);
    margin: 0.3vw 0.3vw;
}

section#about_us div {
    background-image: linear-gradient(rgb(119, 0, 255, 0.6), rgb(255, 0, 255, 0.6));
    width: calc(250px + 10vw);
    height: calc(250px + 10vw);
}

section#about_us img {
    width: calc(150px + 10vw);
    height: calc(150px + 10vw);
}


/* PRICES */

section#prices {
    text-align: center;
    background-image: url("../../media/popcorn.png");
}

section#prices header {
    background: hsla(209, 87%, 56%, 0.85);
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

section#prices div {
    background-image: linear-gradient(rgb(119, 0, 255, 0.6), rgb(255, 0, 255, 0.6));
    width: calc(290px + 12vw);
    height: calc(250px + 10vw);
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 0.35vw black solid;
    width: auto;
    text-align: center;
    font-size: calc(12px + 0.6vw);
}

table td,
table th {
    border: 1px solid rgb(0, 0, 0);
    padding: calc(12px + 0.6vw);
}

table tr:nth-child(even) {
    background-color: rgb(174, 243, 232);
}

table tr:nth-child(odd) {
    background-color: rgb(194, 247, 238);
}

table tr:hover {
    background-color: rgb(132, 241, 223);
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(47, 230, 175);
    color: black;
}


/* NOW SHOWING */

section#now_showing {
    text-align: center;
    background-image: url("../../media/movie-screen.png");
}

section#now_showing header {
    background: hsla(32, 84%, 55%, 0.75);
}

section#now_showing div.movie {
    background-image: linear-gradient(rgb(119, 0, 255, 0.6), rgb(255, 0, 255, 0.6));
    width: calc(290px + 12vw);
    height: calc(250px + 10vw);
}

section#now_showing div.movie:hover {
    background-image: linear-gradient(rgba(212, 0, 255, 0.85), rgba(255, 0, 179, 0.6));
}

section#now_showing img {
    width: calc(80px + 10vw);
    height: calc(150px + 10vw);
    float: left;
    padding-bottom: 40px;
}

section#now_showing p.title,
section#now_showing span.title {
    white-space: pre;
    font-size: calc(13px + 0.6vw);
    font-weight: 900;
}

section#now_showing p.times {
    font-size: calc(12px + 0.5vw);
    border-color: black;
    line-height: calc(17px + 1.2vw);
}


/* SYNOPSIS */

section#now_showing article {
    width: 100%;
    height: auto;
    border-color: black;
    border-width: 0.35vw 0 0 0;
    border-style: solid;
    text-align: left;
    display: inline-block;
    background-color: rgba(219, 216, 22, 0.45);
}

section#now_showing div.synopsis {
    max-width: calc(100px + 35vw);
}

section#now_showing article {
    display: none;
}

section#now_showing article h2,
section#now_showing article div.synopsis p,
section#now_showing article span {
    text-align: left;
    padding-left: 1vw;
}

section#now_showing span {
    display: inline-block;
}

section#now_showing iframe {
    width: 35vw;
    height: 20vw;
}

section#now_showing article h2 {
    white-space: pre;
}

section#now_showing article button {
    width: 140px;
    height: 40px;
    font-family: 'Forum', cursive;
    display: inline-block;
    padding: 12px;
    font-size: 95%;
    font-weight: bold;
    margin: 0.5vw;
}

section#now_showing article video {
    width: 50%;
    height: auto;
    float: right;
    padding-right: 1vw;
}

section#now_showing article div {
    border: none;
    width: 40%;
}

section#booking_form {
    background-color: rgb(255, 115, 0);
    /* PUT IMAGE HERE */
    font-size: calc(10px + 0.7vw);
    height: auto;
    display: none;
}

section#booking_form h2.booking {
    display: inline;
    padding: 0;
}

section#booking_form div#seating {
    border: black;
    border-radius: 0%;
    width: 30vw;
    height: 30vw;
    display: inline-block;
    text-align: center;
}

section#booking_form div#seating div.wrap {
    border-color: black;
    max-width: auto;
    max-height: auto;
}

section#booking_form div#cust_details {
    border-color: black;
    border-radius: 0%;
    width: 30vw;
    height: 30vw;
    display: inline-block;
    width: calc(290px + 12vw);
    height: calc(250px + 10vw);
    text-align: center;
}

section#booking_form div {
    display: inline-block;
    text-align: center;
}

section#booking_form select,
section#booking_form input {
    float: right;
    width: 10vw;
    height: 1.5vw;
    max-height: 20px;
}

section#booking_form label {
    text-align: right;
}

section#booking_form input.submit {
    float: none;
}

section#booking_form p.error {
    color: red;
    margin: 0;
    font-family: "Arial", Times, serif;
    font-weight: normal;
    text-align: right;
    font-size: calc(7px + 0.5vw);
}

footer {
    background-color: rgba(231, 46, 40, 0.8);
    border: 0.35vw black solid;
}

article#Website-Under-Construction {
    display: none;
}